/* all pages */

body {
	font-family: Vollkorn;
}

.center {
	text-align: center;
}

.card {
	border: none;
}

.bg-color {
	background-color: #f0f8ff;
}

/* header & content & footer */

.navbar {
	padding-top: 1em;
	padding-bottom: 1em;
	position: sticky;
	background-color: #fff;
	display: flex;
	justify-content: center;
}

#logo:hover {
	/* change color of PNG image via CSS */
	filter: invert(89%) sepia(78%) saturate(5061%) hue-rotate(325deg) brightness(87%) contrast(89%);
}

.navbar-brand {
	color: #686868 !important;
	transition: color 0.5s;
	margin-left: 1em;
	margin-right: 1em;
}

.navbar-brand:hover {
	color: #d4af37 !important;
	transition: color 0.5s;
}

.active {
	color: #d4af37 !important;
}

footer {
	margin-top: 1em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background-color: #fff;
}

.icon {
	color: #686868;
	transition: color 0.5s;
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-size: 1.33em;
}

.icon:hover {
	color: #d4af37;
	transition: color 0.5s;
}

/* about page */

#profile_pic {
	width: 100%;
	height: auto;
}

#profile_card {
	margin-top: 1em;
	display: flex;
	justify-content: center;
}

.bio {
	background-color: #fff;
}

/* projects page */

.project-card {
	margin-top: 1em;
}

.project-card a {
	color: black;
	text-decoration: none;
}

.project-card a .card-body .card-text {
	max-width: 50em;
	display: block;
	margin: auto;
}

/* cv page */

.cv-section {
	margin-top: 1em;
}

.cv-description-box ul {
	list-style-position: inside;
}

#download_resume_button {
	background-color:  #686868;
	border-color:  #686868;
	margin-top: 1em;
	margin-bottom: 1em;
}

#download_resume_button:hover {
	border-color: #000000;
	background-color: #000000;
}

li a:hover {
	text-decoration: none;
}