/* all pages */

body {
	background-color: #ffeea8;
	font-family: Vollkorn;
}

.center {
	text-align: center;
}

.card {
	border: none;
}

/* header & content & footer */

.navbar {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.navbar-brand {
	color: #686868 !important;
}

.navbar-brand:hover {
	color: #000 !important;
}

#content {
	/*display: flex;
	justify-content: center;*/
}

footer {
	margin-top: 1em;
	margin-bottom: 1em;
}

.icon {
	color: #686868;
	margin-left: 0.3em;
	margin-right: 0.3em;
}

.icon:hover {
	color: #000;
}

/* about page */

#profile_card {
	display: flex;
	justify-content: center;
}

#profile-pic {
	max-height: 25em;
	max-width: auto;
}

.bio {
	background-color: #fff;
}

/* projects page */

.project-card {
	margin-bottom: 1em;
}

.project-card a {
	color: black;
	text-decoration: none;
}

.project-card a .card-body .card-text {
	max-width: 50em;
	display: block;
	margin: auto;
}