.Footer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.Footer .icon {
  font-size: 1.5rem;
  margin: 0.75rem;
}

.Footer a {
  color: gray;
  transition: color 0.2s ease-in-out;
}

.Footer a:hover {
  color: black;
}
